.App {
  display: flex;
  padding: 48px;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  padding: 0 24px;
  height: 36px;
  background-color: aquamarine;
  cursor: pointer;
  transition: all 0.2s;
}

.nav-item:hover,
.nav-item.active {
  background-color: brown;
  color: #ffffff;
}

.right-section {
  flex: 1;
  margin-left: 40px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: bisque;
}
